@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  display: block !important;
  width: 100%;
  text-align: left;
  border-collapse: separate !important;
  border-spacing: 0;
  overflow: hidden;
  border: 1px solid #efeff5;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  padding: 0 !important;
  font-size: 14px;
  scrollbar-gutter: unset !important;
}

:is(.dark table) {
  border-color: #333334;
}

table th {
  white-space: nowrap;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  text-align: inherit;
  padding: 11px 15px !important;
  vertical-align: inherit;
  text-transform: none;
  border: 0px solid transparent !important;
  font-weight: bold !important;
  color: #5c6b77;
  background-color: #fbfbfb;
  border-bottom: 1px solid #efefef !important;
  border-right: 0px solid transparent !important;
}

:is(.dark table th) {
  background-color: #2d2e31;
  border-bottom-color: #333334 !important;
  color: rgba(255, 255, 255, 0.9);
}

table td:first-child {
  width: 1%;
  font-weight: 600;
  white-space: nowrap;
}

table tr {
  box-sizing: border-box;
  background-clip: padding-box;
  transition: background-color 0.3s;
}

table tbody tr:hover {
  background-color: rgba(60, 90, 100, 0.04) !important;
}

:is(.dark table tbody tr:hover) {
  background: rgb(38 38 38) !important;
}

table tbody tr:hover td {
  background: none;
}

table td {
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  padding: 12px !important;
  color: #595959;
  background-color: white;
  border: 0px solid transparent !important;
  min-width: 110px;
}

:is(.dark table td) {
  background-color: #111111;
  color: rgba(255, 255, 255, 0.9);
}

table tr:not(:last-child) td {
  border-bottom: 0px solid transparent !important;
}

table code {
  background: hsl(var(--nextra-primary-hue) 100% 39%/0.05) !important;
  color: var(--shiki-color-text);
}

:is(.dark table code) {
  background: hsla(0, 0%, 100%, 0.1) !important;
}

.nextra-nav-container > nav div:nth-child(1) {
  max-height: none;
}
